@page "/Magnus"
@rendermode InteractiveServer

<Container TextAlignment="TextAlignment.Center" class="flashing-background">
    <h3>Magnus</h3>
    <Figure Size="FigureSize.Is256x256">
        <FigureImage Source="https://almedalstorage.blob.core.windows.net/almedalblob/mange.gif" AlternateText="empty-256x256" Rounded />
        <FigureCaption TextSize="TextSize.ExtraLarge" TextWeight="TextWeight.Bold">Fest hos Mange.</FigureCaption>
    </Figure>
    <div style="padding: 10px;">
        <audio id="magnusAudioPlayer" autoplay="true" controls><source src="https://almedalstorage.blob.core.windows.net/almedalblob/Mange_Makers_-.mp3" /></audio>
    </div>
</Container>

