@page "/error/404NotFound"
@rendermode InteractiveServer

<head>
    <link href="403Forbidden.css" rel="stylesheet" />
</head>


<div id="app">
    <div>404</div>
    <div class="txt">
        Not Found<span class="blink">_</span>
    </div>
    <div class="txt">
        <a href="/" style="font-size: 14px;">Back to Homepage</a>
    </div>
</div>