@page "/shop/checkout/success"
@rendermode InteractiveServer

<div class="jumbotron text-center" style="max-width: 700px; margin: 0 auto;">
    <h1 class="display-3">Tack för ditt köp!</h1>
    <p class="lead"><strong>Var vänlig kontrollera din e-post</strong> för orderbekräftelse.</p>
    <hr>
    <p>
        Har du problem? <a href="info/contact">Kontakta oss</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Fortsätt till startsidan</a>
    </p>
</div>


