@page "/about"


<Div Margin="Margin.IsAuto.OnX" TextColor="TextColor.Light">
    <Div Flex="Flex.Column.Row.OnTablet" Width="Width.Is100">
        <Div Width="Width.Is100" Padding="Padding.Is5" TextAlignment="TextAlignment.Center">
            <Heading style="text-align: center; text-bold;" class="neonText">Om oss</Heading>
            <Paragraph style="font-size: 18px; line-height: 1.5; text-align: center; color:white center; margin-top: 20px;">
                "Spel är mer än bara en lek!" menar vi på Almedal Game Store. <br />
                Detta har genom vår historia varit vårt motto och det vi kontinuerligt strävat efter att uppnå. <br /> Vi ger alla spelare en chans att ta sitt spelande till en ny nivå, vare sig det gäller att hitta det nya favoritspelet, <br /> snyggaste musmattan eller nästa event att träffa andra spelare på. <br /> <br /> Du hittar oss i hjärtat av Almedal på Ebbe Lieberathsgatan 18C, 412 65 Göteborg
            </Paragraph>
        </Div>
    </Div>
</Div>

<Heading style="text-align: center; text-bold;" class="neonText">Sagt om oss</Heading>

<Container>
    <Div Margin="Margin.IsAuto.OnX" TextColor="TextColor.Light">
        <Div Flex="Flex.Column.Row.OnTablet" Width="Width.Is100">
            <Div Width="Width.Is100" Padding="Padding.Is5" TextAlignment="TextAlignment.Center">
                <Rating Color="Color.Warning" SelectedValue="5" MaxValue="5" ReadOnly Padding="Padding.Is4.FromBottom" />

                <Paragraph>
                    “Almedal Game Store erbjuder enastående upplevelser. Det är verkligen en bra butik med konkurrenskraftiga priser, ett brett utbud av spel och en personal som alltid är vänliga och hjälpsamma.”
                </Paragraph>

                <Paragraph Margin="Margin.Is3.FromTop" TextSize="TextSize.Medium" TextWeight="TextWeight.Bold" style="color: deeppink;">
                    August Simonsson
                </Paragraph>
            </Div>
            <Div Width="Width.Is100" Padding="Padding.Is5" TextAlignment="TextAlignment.Center">
                <Rating Color="Color.Warning" SelectedValue="5" MaxValue="5" ReadOnly Padding="Padding.Is4.FromBottom" />

                <Paragraph>
                    “Vi är så tacksamma för Almedal Game Store! Det är en underbar butik med enastående kundservice och ett utmärkt spelutbud.”
                </Paragraph>

                <Paragraph Margin="Margin.Is3.FromTop" TextSize="TextSize.Medium" TextWeight="TextWeight.Bold" style="color: deeppink;">
                    Johnny Svensson
                </Paragraph>
            </Div>
            <Div Width="Width.Is100" Padding="Padding.Is5" TextAlignment="TextAlignment.Center">
                <Rating Color="Color.Warning" SelectedValue="5" MaxValue="5" ReadOnly Padding="Padding.Is4.FromBottom" />

                <Paragraph>
                    “Almedal Game Store har levererat enastående upplevelser för oss. Det är verkligen en bra butik med ett brett utbud av spel och en personal som alltid är vänliga och hjälpsamma.”
                </Paragraph>

                <Paragraph Margin="Margin.Is3.FromTop" TextSize="TextSize.Medium" TextWeight="TextWeight.Bold" style="color: deeppink;">
                    John Gustavsson
                </Paragraph>
            </Div>
        </Div>
    </Div>
    <Div Margin="Margin.IsAuto.OnX" TextColor="TextColor.Light">
        <Div Margin="Margin.Is5.FromBottom" TextAlignment="TextAlignment.Center">
            <h2 style="text-align: center; text-bold;" class="neonText">Vanliga frågor</h2>
        </Div>
        <Div>
            <Row>
                <Column ColumnSize="ColumnSize.IsHalf" Padding="Padding.Is4.FromBottom">
                    <Heading Size="HeadingSize.Is3" TextSize="TextSize.Heading4" TextWeight="TextWeight.Normal">
                        Erbjuder ni några medlemsförmåner eller lojalitetsprogram?
                    </Heading>
                    <Paragraph>
                        Ja, bli medlem för att ta del av våra bästa erbjudanden samt joina vår discord kanal där vi lägger upp massa spännande aktiviteter och erbjudanden.
                    </Paragraph>
                </Column>
                <Column ColumnSize="ColumnSize.IsHalf" Padding="Padding.Is4.FromBottom">
                    <Heading Size="HeadingSize.Is3" TextSize="TextSize.Heading4" TextWeight="TextWeight.Normal">
                        Hur kan jag vara säker på att mina personuppgifter är säkra hos er?
                    </Heading>
                    <Paragraph>
                        Vi tar integritet och datasäkerhet på största allvar. Vi använder avancerade säkerhetstekniker för att skydda dina personuppgifter. Läs vår integritetspolicy för mer information.
                    </Paragraph>
                </Column>
                <Column ColumnSize="ColumnSize.IsHalf" Padding="Padding.Is4.FromBottom">
                    <Heading Size="HeadingSize.Is3" TextSize="TextSize.Heading4" TextWeight="TextWeight.Normal">
                        Vilka plattformar stöder ni?
                    </Heading>
                    <Paragraph>
                        I dagsläget stöder vi bara spel för PC. Men vi hoppas på att kunna ha spel till flera spelplattformar såsom, Xbox, PlayStation och Nintendo Switch.
                    </Paragraph>
                </Column>
                <Column ColumnSize="ColumnSize.IsHalf" Padding="Padding.Is4.FromBottom">
                    <Heading Size="HeadingSize.Is3" TextSize="TextSize.Heading4" TextWeight="TextWeight.Normal">
                        Hur lång tid tar det innan min beställning levereras?
                    </Heading>
                    <Paragraph>
                        Leveranstiden beror på din plats och den valda leveransmetoden. Vanligtvis tar det 2-5 arbetsdagar för standardleveranser. Du kan välja expressleverans för snabbare leverans.
                    </Paragraph>
                </Column>
                <Column ColumnSize="ColumnSize.IsHalf">
                    <Heading Size="HeadingSize.Is3" TextSize="TextSize.Heading4" TextWeight="TextWeight.Normal">
                        Hur kan jag kontakta er om jag har ytterligare frågor?
                    </Heading>
                    <Paragraph>
                        Du kan kontakta vår kundtjänst via e-post, telefon eller livechatt. Besök vår kontaktsida för mer information.
                    </Paragraph>
                </Column>
                <Column ColumnSize="ColumnSize.IsHalf">
                    <Heading Size="HeadingSize.Is3" TextSize="TextSize.Heading4" TextWeight="TextWeight.Normal">
                        Kan jag returnera ett spel om jag inte är nöjd?
                    </Heading>
                    <Paragraph>
                        Ja, du kan returnera en produkt inom 30 dagar från inköpsdatumet om den är oöppnad och i sitt ursprungliga skick. Kontakta vår kundtjänst för att få instruktioner om hur du ska returnera en produkt.
                    </Paragraph>
                </Column>
            </Row>
        </Div>
    </Div>
</Container>



@code {

}
